azure-storage-blob==12.22.0
dask>2024.8.0
geopandas==1.0.1
matplotlib==3.9.2
pandas==2.2.3
plotly==5.23.0
pyarrow
rioxarray
scipy
tqdm==4.66.5
xarray==2024.7.0
python-dotenv==1.0.1
pre-commit==4.0.1
sqlalchemy==2.0.36
psycopg2-binary==2.9.10
ocha-stratus==0.1.2
